<div id="activity">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Creative Arena
            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify">MAAPS believes in the philosophy of and ‘Hands on learning for its students.
                     We believe that hands-on activities let the students’ minds grow and learn based on the experiences and the environment they are exposed to.
                     Being hands-on is especially important as it allows students to engage in kinaesthetic learning to experiment with trial and error, learn from their mistakes and with the potential gaps between theory and practice.
                </p>
                <p class="lead fontWeight400 text-justify">Kindergarten is a phase of introducing children to fundamental learning through the medium that is engaging, less straining and more recreational in nature.
                     Our activity room is a self-contained room in which students engage in independent and self-directed learning activities.</p>

                <p class="lead fontWeight400 text-justify">The interior of this room is designed specially keeping the little ones in mind. Their inquisitive and eager eyes get the feel of things fresh & attractive.
                     It is a colorful and lively room which provides favorable atmosphere where students open up in putting forth their best creative mind. 
                </p>
                <p class="lead fontWeight400 text-justify">The interior of this room is designed specially keeping the little ones in mind. Their inquisitive and eager eyes get the feel of things fresh & attractive.
                    The room has an easy access to a variety of manipulatives, which are both educational and recreational. The core idea of activity room is to engage children productively in an environment that induces joy, happiness & creativity.
               </p>
               <p class="lead fontWeight400 text-justify">The interior of this room is designed specially keeping the little ones in mind. Their inquisitive and eager eyes get the feel of things fresh & attractive.
                The activity room also serves as a room for play therapy for kids and move from concrete experiences to abstract reality where they are provided with opportunities for teamwork, hands-on learning, social interaction, real-life problem solving and to further dwell on open-ended challenging enterprises.
           </p>
                <div class="row text-center pb-5">
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/1.jpeg" alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/2.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/3.jpeg" alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/4.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/5.jpeg" alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/6.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/7.jpeg" alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/8.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/9.jpeg" alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/10.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/11.jpeg" alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/12.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/13.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-2">
                        <img src="/assets/img/lab/activity/1.jpeg " alt="activity" class="img-fluid w-100 rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>