<div id="principalMessage">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-center">Principal's Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/message/principal.jpeg" alt="principal" class="img-fluid rounded-circle">
                </div>
            </div>
            
            
            <div class="card-body">
                <p class="lead text-justify" style="font-size: 18px;">Dear members of the The Maharaja Aggarsain Adarsh Public School family, Well Wishers and Visitors, Greetings and welcome to our school website.
                </p>
                <p class="lead text-justify" style="font-size: 18px;">Maharaja Aggarsain Adarsh Public School is a great place to teach and learn! Our teachers are committed to a high quality learning experience focused on the individual needs of each child. Our steadfast belief is to provide a safe and intellectually challenging environment that will empower students to become innovative thinkers, creative problem solvers and inspired learners prepared to thrive in the new decade.
                </p>
                <p class="lead text-justify" style="font-size: 18px;">Our primary goal at MAAPS is to help all students achieve their dreams and find success in pursuing life goals.
                     We are unconditionally committed to providing the best possible educational program to our students.
                     We believe that there are numerous opportunities, both within our curricula and through extracurricular activities, for our students to gain the skills that will allow them to be successful in their lives.</p>
                <p class="lead text-justify" style="font-size: 18px;">We are passionate about creating a ‘learning’ institution that is dynamic and constantly seeking excellence to meet the needs of the present as well as the future, while learning from the ethical and moral value systems of the Indian past. We are committed to the academic achievement of all our students and believe that real education extends beyond classrooms and grades that prepares them with the skills to lead a happy, and successful life.</p>
                <p class="lead text-justify" style="font-size: 18px;">We are proud of our parents who provide a supportive, positive home environment that contributes manifold to the child’s success in the school, and teachers who care, encourage and reassure the children so that they grow to be aspiring individuals who will be sensitive, mature and responsible citizens. So, let us work together to provide a nurturing environment for our children to study and experience life.</p>
                <p class="lead text-justify" style="font-size: 18px;">Looking forward to a great school year, together achieving excellence by creating a joyful, learning space for our students to learn and grow.</p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Ms. Ambika Roshan</p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Principal</p>
            </div>
        </div>
    </div>
</div>