<div id="house">
    <div class="container">
        <div class="card shadow-lg colorBlue">
            <div id="main">
                <h4>School Houses</h4>
                <p ><i>One <span> OF THE MAIN STRENGTHS OF THE HOUSE SYSTEM IS GIVING STUDENTS OF ALL AGES THE OPPORTUNITY TO WORK TOGETHER, CREATING A TRULY COHESIVE ENVIRONMENT AND ENSURING THAT AGE IS NOT A BARRIER TO FRIENDSHIP AND COLLABORATION.  
                    IT IS NOT ONLY STUDENTS WHO ARE ALLOCATED A HOUSE, STAFF ARE ALSO INVOLVED. THE SENSE OF COMMUNITY THAT PERVADES THROUGHOUT THE SCHOOL WOULD, ARGUABLY, BE INCOMPLETE IF STUDENTS WERE NOT GIVEN THE OPPORTUNITY TO INTERACT WITH TEACHERS BEYOND THOSE THEY SEE IN THE CLASSROOM, THEREBY ENCOURAGING “STRONGER RELATIONSHIPS BETWEEN ADULTS AND STUDENTS”
                </span></i></p>
                <p>School <span> &nbsp;IS DIVIDED INTO THE FOLLOWING FOUR HOUSES, THE NAMES OF WHICH ARE BASED ON THE FAMOUS LEGENDARY GLOBAL SCIENTIST .</span></p>
            </div>
            <div class="row text-center houses">
                <div class="col-6">
                    <img src="/assets/img/houses/1.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>NEWTON HOUSE</p>
                </div>
                <div class="col-6">
                    <img src="/assets/img/houses/2.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>EINSTEIN HOUSE</p>
                </div>
                <div class="col-6">
                    <img src="/assets/img/houses/3.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>ARYABHATTA HOUSE</p>
                </div>
                <div class="col-6">
                    <img src="/assets/img/houses/4.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>RAMAN HOUSE</p>
                </div>
            </div>
            
        </div>
    </div>
</div>