#not-found{
    .container-fluid{
        .row{
            position: relative;
            img{
                height: 75vh;
            }
        }
        .detail{
            position: absolute;
            top: 10px;
            color: var(--black-dark);
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;

        }
    }
}