<div id="student">
    <div class="container">
        <div class="card shadow-lg colorBlue">
            <div id="main">
                <h4>STUDENT’S COUNCIL</h4>
                <!-- <h5 class="mt-3">
                    Houses
                </h5>
                <hr>
                <p>SCHOOL IS DIVIDED INTO THE FOLLOWING FOUR HOUSES, THE NAMES OF WHICH ARE BASED ON THE FAMOUS LEGENDARY GLOBAL SCIENTIST .</p>
            </div>
            <div class="row text-center houses">
                <div class="col-6">
                    <img src="/assets/img/houses/1.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>NEWTON HOUSE</p>
                </div>
                <div class="col-6">
                    <img src="/assets/img/houses/2.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>EINSTEIN HOUSE</p>
                </div>
                <div class="col-6">
                    <img src="/assets/img/houses/3.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>ARYABHATTA HOUSE</p>
                </div>
                <div class="col-6">
                    <img src="/assets/img/houses/4.jpg" alt="Issac Newton" class="img-fluid rounded w-50 h-75">
                    <p>RAMAN HOUSE</p>
                </div> -->
            </div>
            <div class="duties">
                <h5 class="mt-3">
                    DUTIES OF THE COUNCIL @MAAPS
                </h5>
                <hr style="width: 50%;">
                <ul>
                    <li>
                        <p>Maintaining discipline in the school.</p>
                        
                    </li>
                    <li><p>Checking Uniform of Students in the assembly.
                    </p></li>
                    <li>
                        <p>Checking of cleanliness and hygeine amongst students.
                        </p>
                    </li>
                    <li>
                        <p>Holding regular meetings of the council to overview the students problems.
                        </p>
                    </li>
                    <li>
                        <p>Active participation in the major events of the School.
                        </p>
                    </li>
                    <li>
                        <p>Suggesting the Activity Planner & Awareness Projects of the year for the school.                         
                        </p>
                    </li>
                    <li>
                        <p>To Abide by the rules and regulations set by the school authorities.                         
                        </p>
                    </li>
                    <li>
                        <p>Sports Committee Assists the Sports Teacher and Students in arranging various Sports events and Support material in this regard.                         
                        </p>
                    </li>
                </ul>


                <!-- Titles -->
                <h5 class="mt-3">
                    TITLES FOR BADGES @MAAPS
                </h5>
                <hr style="width: 42%;">
                <p class="font-weight-bold">Students are elected for the following 24 coveted  Posts.</p>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <ul>
                            <li>
                                <p>Head Boy</p>
                            </li>
                            <li>
                                <p>Head Girl</p>
                            </li>
                            <li>
                                <p>Sports Captain (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Sports Captain (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Sports (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Sports (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Discipline Captain (BOY)</p>
                            </li>
                            <li>
                                <p>Discipline Captain (GIRL)</p>
                            </li>
                            <li>
                                <p>Captain Newton House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Captain Newton House (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Newton House (BOY)</p>
                            </li>
                            <li>
                                <p>Vice Captain Newton House (GIRL)
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-6">
                        <ul>
                    
                            <li>
                                <p>Captain Einstein House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Captain Einstein House (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Einstein House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Einstein House (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Captain Aryabhatta House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Captain Aryabhatta House (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Aryabhatta House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Aryabhatta House (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Captain Raman House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Captain Raman House (GIRL)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Raman House (BOY)
                                </p>
                            </li>
                            <li>
                                <p>Vice Captain Raman House (GIRL)
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
               
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/titles/1.jpeg" alt="Title" class="img-fluid w-75 h-75 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/titles/2.jpeg" alt="Title" class="img-fluid w-75 h-75 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/titles/3.jpeg" alt="Title" class="img-fluid w-75 h-75 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/titles/4.jpeg" alt="Title" class="img-fluid w-75 h-75 rounded">
                    </div>
                </div>
                <h4 class="mt-3 text-center">
                    School Projects Undertaken By Students Council
                </h4>
                <h5 class="mt-5">
                    RBI VISIT
                </h5>
                <hr style="width: 15%;">
                <p><b style="color: var(--orange);">MAAPSIANS </b>&nbsp; visited India’s central banking institution, Reserve Bank of India (RBI). This industrial visit was intended to empower the students in Indian finance, understand the history and functionalities of RBI and also to have practical knowledge of the central bank.
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/1.jpeg" alt="visit" class="img-fluid w-75 h-75 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/2.jpeg" alt="visit" class="img-fluid w-75 h-75 rounded">
                    </div>
                </div>
                <h5 class="mt-5">
                    MILLION NOTEBOOK CHALLENGE

                </h5>
                <hr style="width: 50%;">
                <p>MILLION NOTEBOOK CHALLENGE
                    In this challenge students were expected to collect paper scrap from different places like school, home, neighbourhood, libraries, etc. besides collecting scrap, students also made people aware to economize the use of paper.
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/3.jpeg" alt="notebook" class="img-fluid w-75 h-75 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/4.jpeg" alt="notebook" class="img-fluid w-75 h-75 rounded">
                    </div>
                    <div class="col-12">
                        <img src="/assets/img/projects/5.jpeg" alt="notebook" class="img-fluid w-50 h-75 rounded">
                    </div>
                </div>

                <h5 class="mt-5">
                    CLEANEST DAY DRIVE

                </h5>
                <hr style="width: 32%;">
                <p>The eco champs of MAAPS selected the site for the cleanest  day drive.
                     Students took the permission from the required authorities.
                     The locals and required authorities were apprised of this drive.
                     Students gave feedback performa to fellow citizens to know what they were thinking about this drive. before and after photographs were taken for the assessment of the cleanlinesss of the site area.
                </p>
                <div class="row text-center">
                    <div class="col-12">
                        <img src="/assets/img/projects/6.jpeg" alt="notebook" class="img-fluid w-50 h-75 rounded">
                    </div>
                </div>

                <h5 class="mt-5">
                    PAPER BAG DISTRIBUTION

                </h5>
                <hr style="width: 40%;">
                <p>With an objective to create awareness amongst the public,a drive was undertaken
                    for  the distribution of Eco friendly biodegradable paper bags prepared by MAAPS
                    students to the nearby area.
                    </p>
                <div class="row text-center">
                    <div class="col-12">
                        <img src="/assets/img/projects/7.jpeg" alt="notebook" class="img-fluid w-50 h-100 rounded">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <img src="/assets/img/projects/8.jpeg" alt="notebook" class="img-fluid w-50 h-100 rounded">
                    </div>
                </div>

                <h5 class="mt-5">
                    VISIT TO SOS VILLAGE

                </h5>
                <hr style="width: 33%;">
                <p>The visit to SOS Village helps us in developing our emotional and social skills.
                     We saw selfless devotees taking responsibilities of orphaned children and nourishing them by heart and taking care of their living studies etc.

                    </p>
                <div class="row text-center">
                    <div class="col-12">
                        <img src="/assets/img/projects/9.jpeg" alt="notebook" class="img-fluid w-50 h-100 rounded">
                    </div>
                </div>

                <h5 class="mt-5">
                    ‘SAY NO TO CRACKERS’ RALLY


                </h5>
                <hr style="width: 43%;">
                <p>With the aim of creating awareness amongst the masses about the tremendous air pollution caused due to bursting of crackers a rally was organised by MAAPSIANS . They pledged to celebrate GREEN DIWALI and say No To Crackers and Yes to Pollution Free Environment.
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/10.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/11.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                </div>


                <h5 class="mt-5">
                    ‘EARTH DAY ’ RALLY

                </h5>
                <hr style="width: 30%;">
                <p>To Galvanize Students for conservation movements and to infuse and propel environmental protection norms Earth Day rallies are organised by the custodians of mother Earth.
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/12.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/13.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                </div>

                <h5 class="mt-5">
                    ENVIRONMENT DAY RALLY

                </h5>
                <hr style="width: 39%;">
                <p>World Environment Day is the biggest annual event for positive environmental action and takes place every 5th June. The students wrote slogans related to the topics of environment viz. water and energy conservation, or saving trees or fuel and took out rallies to  create awareness among everyone . 
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/14.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/15.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-12">
                        <img src="/assets/img/projects/16.jpeg" alt="notebook" class="img-fluid w-50 h-100 rounded">
                    </div>
                </div>

                <h5 class="mt-5">
                    PROJECT BOOND


                </h5>
                <hr style="width: 25%;">
                <p>This Project was undertaken with the sole aim to provide students  with Comprehensive water education .We need to monitor water quality; improve water use by developing greater resources for its reuse, and help to raise awareness among communities so that they play an active part in improving their water management and sanitation
                </p>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/17.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/18.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-6">
                        <img src="/assets/img/projects/19.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                    <div class="col-6">
                        <img src="/assets/img/projects/20.jpeg" alt="notebook" class="img-fluid w-75 h-100 rounded">
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>