<div id="managerMessage">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-center">Manager's Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/message/manager.jpeg" alt="Manager" class="img-fluid rounded-circle">
                </div>
            </div>
            
            
            <div class="card-body">
                <p class="lead text-justify" style="font-size: 18px;">A school has rightly been called the second home of a child.
                     It is a place where he not only becomes academically sound, but morally upright and physically strong to take up the challenges that life offers. We at Maharaja Aggarsain Adarsh Public School strongly believe that education cannot be confined to the four walls of the classroom.
                      It should transcend all limitations and ensure the overall development of students.
                       Education is a process that significantly transforms the lives of students.
                     The motto of our school <strong>‘Aspire To Excel’</strong>  replicates the same thought.</p>
                <p class="lead text-justify" style="font-size: 18px;">MAAPS ensures that it produces successful, talented and highly motivated individuals who can compete in the world.
                     The rise of the Information Society and the Knowledge Economy at a global level has reinforced education as the key driver on the road to success.
                      It is the dreams, as well as the actions, of the committed students of the present day that is going to help the country win a global edge.
                       We continuously dedicate ourselves towards the cause of such students.
                     We empower our students with shared values so they transcend all challenges and become the best versions of themselves.
                     We encourage our students to excel not only academically but give due importance to extracurricular activities as well.
                </p>
                <p class="lead text-justify" style="font-size: 18px;">Starting from very humble beginnings, our school has grown to become one of the most prestigious institutions in and around the vicinity.
                     The entire credit for the same goes to the dedicated staff members, supportive school management, parents and of course the students who have made the school proud in all its ventures.
                    I pray to the almighty to continuously shower his blessings on our school so that it becomes a real temple of learning for the students where they develop all their talents and become enlightened citizens of the country.</p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Mr. Bhagwan Dass Saraf</p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Manager</p>
            </div>
        </div>
    </div>
</div>