<div id="seniorMessage">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-center">Senior Incharge Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/message/senior.jpeg" alt="senior" class="img-fluid rounded-circle">
                </div>
            </div>
            
            
            <div class="card-body">
                <p class="lead text-justify" style="font-size: 18px;">As MAAPS stands tall today with its entire magnificent infrastructure.
                     I am reminded of its humble beginnings and meanwhile I feel proud of its growth in facilities, strength, co and extra-curricular activities.
                      The learning environment at MAAPS is designed to be respectful, inspirational, vibrant and engaging.
                     Our aim is to encourage students to develop a love, passion and curiosity for learning that goes beyond the classroom.</p>
                <p class="lead text-justify" style="font-size: 18px;">At MAAPS we believe that each one of our students is unique, and created and loved by God.
                     Therefore we endeavour to meet their individual needs, not just for academic learning but for their overall character and development of life skills.
                      The curriculum is structured to transition students from primary to secondary level with a focus on students developing emotional, physical, spiritual and academic needs.
                     Students are encouraged to think critically, to create, make and engage with a broad curriculum.
                </p>
                <p class="lead text-justify" style="font-size: 18px;">Academic excellence and organized balance life is the need of the hour.
                     Knowing that certification for good placements require adequate educational credentials and strong extracurricular achievements along with rich profile, we offer our students the opportunities to participate in various co-curricular activities whether it be sports, music, literary activities, student council or clubs.
                     We take pride in displaying these specialized leadership skills in our students through the major programmes like investiture ceremony, Eco- friendly projects, subject specific weeks and many more.
                </p>
                <p class="lead text-justify" style="font-size: 18px;">Students not only develop high self esteem  but also gain greater self respect and self confidence as part of our unique programmes in Senior school where their views, suggestions and involvement is given utmost importance.
                     All this paves a path for the students to value improved team work, group responsibility, coordination, management skills, healthy competition, refined intellect, core values and moral development.
                     And we are confident that this brings out the best and teaches them to become socially responsible students.
               </p>
               <p class="lead text-justify" style="font-size: 18px;">In this pursuit of excellence, we appreciate the devotion & support of our management and our parent fraternity for supporting the school in every aspect.
                </p>
                <p class="lead text-justify" style="font-size: 18px;">We are determined to work tirelessly for the best of the school, bringing glory to it.                </p>
                <p class="lead text-justify" style="color: #EC7063 ;font-weight: bold;font-family: serif;font-style: italic;">
                   <i>“Focus on the journey, not the destination. Joy is found not in finishing an activity, but in doing it.”</i> 
                </p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">NEERU V. RAJAN</p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Senior Incharge</p>
            </div>
        </div>
    </div>
</div>