<div id="orietation">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Teaching Pedagogy At MAAPS
            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify" style="color:var(--orange);font-size: 20px;"><i>“Education is our passport to the future, for tomorrow belongs to the people who prepare for it today.”</i></p>
                <p class="lead fontWeight400 text-justify">We at MAAPS have a strong faith in it.
                     We believe that when families are involved in the education of their children in positive ways, the children maximize their untapped potentials and are more regular to school, and demonstrate positive attitude and behaviour.
                      We at MAAPS lay stress to establish the foundation for a good parent-teacher relationship, frequent and open communication between the two, mutual respect, and a clear understanding of the best education practices for each child.</p>
                <p class="lead fontWeight400 text-justify">At MAAPS we completely appreciate the importance of a child’s growth and the sensitive role of parents along with teachers, wherein we foster the child's learning through joint efforts of parents, teachers, and the school.
                     When parents and teachers share the responsibility, the child’s intellectual, emotional and physical growth is bound to happen.
                    We provide hands-on learning practices to our students to cater to the needs of each child.
                     Various co-curricular activities are given equal importance be it yoga, meditation, sports, music, dance, art & craft etc. We provide education to our students with international dimension enabling our students to be globally acceptable citizens. 
                </p>

                <p class="lead fontWeight400 text-justify">The school facilitates education to provide all-round growth of the students starting from the development of cognitive skills, psychomotor skills, attitudes & values for leading a respectable life, decision-making abilities and above all enabling the students to stand and outshine in the competitive world.
                     Our forte is to provide individual attention to our students through the maintenance of an appropriate and balanced teacher student ratio.
                      We enable our students to learn in a healthy and happy environment wherein students learn various concepts while playing indoor and outdoor games.
                     Buddy mentoring is another step taken by MAAPS to enable our students to become emotionally strong while learning and facing challenges in school life.
                </p>
                <p class="lead fontWeight400 text-justify"><strong>“A parent is a teacher at home and a teacher is a parent in school and the child is the center of our universe.” </strong>
                    We welcome our parents to join hands with us to nurture our young minds for the new academic session. 
                </p>
            </div>
        </div>
    </div>
</div>