<div id="exam">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Evaluation System

            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify"><i>Examinations are an integral part of the educational process and are tools for assessing and evaluating different areas of learning.Evaluation is continuous and reveals the strengths and weaknesses of the learners  so that they have better opportunity to understand and improve themselves.
                      Our school examination system and promotion policy are consistent with the process of evaluation developed by the National Council of Educational Research and Training (NCERT) and the policy envisaged by the Central Board of Secondary Education.
                    Quality Education of a school lies in its flawless Examination Pattern.</i></p>
                <p class="lead fontWeight400 text-justify">In order to provide a stress free environment to the students of Pre nursery till grade 2, school has no formal examination system and continuous evaluation is carried out. 
                </p>
                <p class="lead fontWeight400 text-justify">For classes III onwards assessment is  done in scholastic and co-scholastic aspects through terminal exams .Scholastic aspects are subject  specific areas whereas co - scholastic aspects include music, work education, art education and health & physical education. 
                </p>
                <p class="lead fontWeight400 text-justify">Each Term has cycle of Unit Tests, enrichment activities followed by Term End Examinations.
                    The schedule for the examinations is shared with the students in the beginning of every academic year.
                </p>
                <p class="lead fontWeight400 text-justify">The performance of the student in Scholastic areas is assessed in grades using a nine point grading scale for individual subjects. Co-scholastic activities are assessed on a 3 point grading scale.
                     They are also provided continuous feedback on these attribute as to strengthen their personality.</p>
                 <p class="lead fontWeight400 text-justify">Our school lays a lot of emphasis on discipline. As discipline is a part of the very ethos of the school, children are regularly assessed on sincerity, behaviour and values. 
                </p>
                <p class="lead font-weight-bold text-justify" style="color: var(--orange);">Promotion Criteria
                </p>
                <ul>
                    <li>
                        <p>The school follows the promotion criteria as specified by the Central Board of Secondary Education(CBSE).
                        </p>
                    </li>
                    <li>
                        <p>Promotion is made on the basis of the cumulative result of periodic tests, subject enrichment activities and the Term end examination.
                        </p>
                    </li>
                    <li>
                        <p>75%attendance during the session makes the students eligible to appear in term end examination
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>