<div id="beyond">
    <div id="banner">
        <img src="/assets/img/banner/5.jpeg" alt="Banner" class="img-fluid w-100">
    </div>
    <div class="row" >
        <div class="col-lg-3 col-md-3 " id="beyond-type">
            <div class="container">
                <div class="card shadow-lg colorBlue">
                    <h3 class="card-title text-center">Beyond Academic</h3>
                    <hr class=" pb-1 w-75">
                    <div class="card-body">
                        <p class="lead" routerLink="/beyond/house"><span><i class="fas fa-angle-double-right"></i></span>House System</p>
                        <p class="lead" routerLink="/beyond/clubs"><span><i class="fas fa-angle-double-right"></i></span>School Club</p>
                        <p class="lead" routerLink="/beyond/sports"><span><i class="fas fa-angle-double-right"></i></span>Sports & Games</p>
                        <p class="lead" routerLink="/not-found"><span><i class="fas fa-angle-double-right"></i></span>Tours</p>
                        <p class="lead" routerLink="/beyond/student-council"><span><i class="fas fa-angle-double-right"></i></span>Student Council</p>
                        <p class="lead" routerLink="/beyond/inter-school"><span><i class="fas fa-angle-double-right"></i></span>Inter School & Intra School Activities</p>
                        <p class="lead" routerLink="/beyond/alumni"><span><i class="fas fa-angle-double-right"></i></span>Alumni Meet</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9" id="beyond-detail">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>