<div id="club">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">SCHOOL CLUB</h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify">Maharaja Aggarsain Adarsh Public School lays emphasis on the holistic development of its students.
                     Co-curricular activities form an integral part in the all-round development of a child’s personality.
                      The integration of activities and study is the key element in MAAPS. The concept of clubs is seen as an opportunity for adaptation to life in the groups, forming good life long habits and cultivating a spirit of volunteerism.
                       Club activities supplement academics and give the students practical training which they require in day-to-day life.
                       Clubs provide opportunities to the students to express themselves and display their latent talents. The clubs help students to think out of the box.
                     Various clubs such as Literary club, ‘Cooking without Fire’ club, Eco club, Music club and so on are organised to hone and nurture skills while also instilling confidence to take on life.  </p>
                <h5>In the pictures: Students engaged in Sudoku Puzzles in the Maths Club
                </h5>
               <div class="row text-center">
                   <div class="col-sm-12 col-md-6">
                       <img src="/assets/img/clubs/1.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                   </div>
                   <div class="col-sm-12 col-md-6">
                    <img src="/assets/img/clubs/2.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                   </div>
               </div>
                <h5>In the pictures: Students participating in the Dramatization activity as a part of Maths Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/3.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/4.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                </div>
                
                <h5>In the pictures: Students showcasing their instrumental flair and dance moves in Music Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/5.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/6.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                </div>

                <h5>In the picture: A student exhibiting his science model on ‘Smart City’ as part of Science Club</h5>
                <p class="lead fontWeight400 text-justify"> <i>2020 saw an unprecedented time when pandemic impacted learning in ways not heard of before. However, to continue the teaching technique of learning by doing, and drive the engagement across students, we took the clubs to the students’ homes. We researched and shared activities which could be done at homes, with limited resources available, and also ensuring that online medium was not a hinderance in driving student participation and learning.
                </i></p>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <img src="/assets/img/clubs/8.jpeg" alt="Clubs" class="img-fluid rounded w-50">
                    </div>
                </div>
                <h5>In the pictures: Poster Making & Paper Bag Making Competitions conducted by Eco Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/9.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/10.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                    <div class="col-sm-12">
                        <img src="/assets/img/clubs/11.jpeg" alt="Clubs" class="img-fluid rounded w-50 h-75 mt-3">
                    </div>
                </div>

                <h5>In the picture: A student displaying creativity in Model making competition by SST Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <img src="/assets/img/clubs/13.jpeg" alt="Clubs" class="img-fluid rounded w-50">
                    </div>
                </div>

                <h5>In the picture: Delicious culinary skills on display by a student of ‘Cooking without Fire’ Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <img src="/assets/img/clubs/12.jpeg" alt="Clubs" class="img-fluid rounded w-50 h-75">
                    </div>
                </div>

                <h5>In the pictures: Cartoon Character Making using Mathematical Shapes in Maths Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/14.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/16.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                </div>

                <h5>In the pictures: Students sharing artwork in Advertisement making Activity in Hindi Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/15.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/18.jpeg" alt="Clubs" class="img-fluid rounded w-75">
                    </div>
                </div>

                <h5>In the pictures: Ensuring fitness in Lockdown as a part of Sports Club</h5>
                <div class="row text-center">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/19.jpeg" alt="Clubs" class="img-fluid rounded w-75 h-75">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/clubs/20.jpeg" alt="Clubs" class="img-fluid rounded w-75 h-75">
                    </div>
                    <div class="col-sm-12">
                        <img src="/assets/img/clubs/21.jpeg" alt="Clubs" class="img-fluid rounded w-50 h-75 mt-3">
                    </div>
                </div>

                <h5>In the picture: Conducting club activities online during COVID-19 Pandemic</h5>
                <div class="row text-center">
                    <div class="col-sm-12">
                        <img src="/assets/img/clubs/22.jpeg" alt="Clubs" class="img-fluid rounded w-50">
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>