<div id="orietation">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Admission Details
            </h1>
            <div class="card-body">
                 <p class="lead fontWeight400 text-justify">Admission to the school is possible for classes: Pre School to XI</p>
                 <h5>Pre School Admission.</h5>
                 <hr style="width:200px;" >
                 <ul>
                     <li>
                         <p>Admission to Pre School is done as per the government norms.
                        </p>
                     </li>
                     <li>
                         <p>Notification regarding registration is displayed on the Notice Board at the School Reception and school website as soon as the process starts.</p>
                     </li>
                     <li>
                         <p>Application forms are  available on-line/off-line, as per the dates decided by the government.
                        </p>
                     </li>
                     <li>
                         <p>List of documents to be attached with the application form are as follows:</p>
                         <ol type='A'>
                             <li>
                                 <p> Birth Certificate of the Child
                                </p>
                             </li>
                             <li>
                                 <p> Aadhar Card of the Child and parents
                                </p>
                             </li>
                             <li>
                                 <p>Medical fitness certificate of the child
                                </p>
                             </li>
                             <li>
                                 <p>Passport size of photograph of child and parents
                                </p>
                             </li>
                             <li>
                                 <p>Proof of Residence</p>
                             </li>
                         </ol>
                     </li>
                     <li>
                         <p>Registration of your child does not guarantee an admission. It is only a procedure to apply for admission.
                        </p>
                     </li>
                     <li>
                         <p>Attach the self-attested photocopies of the listed documents along with the registration form at the time of online/ offline submission.
                        </p>
                     </li>
                     <li>
                         <p>For allocation of points the school’s decision will be final & binding
                        </p>
                     </li>
                 </ul>
                 <h5>Admission to other classes</h5>
                 <hr style="width:230px;">
                <p class="lead fontWeight400 text-justify">Admission to other classes is subject to availability of seats.Information regarding the same can be obtained from the School’s Reception in the last week of March.
                </p>
                <h5>Admission to class XI</h5>
                 <hr style="width:200px;">
                <p class="lead fontWeight400 text-justify">The school offers three streams-Humanities, Science and Commerce to students of class XI.                </p>
                <h5>Allocation of Streams</h5>
                 <hr style="width:200px;">
                <ul>
                    <li>
                        <p>For admission to science stream, the grade points of students in Science and Maths are considered along with CGPA.
                        </p>
                    </li>
                    <li>
                        <p>For admission to Commerce stream, the grade point of students in Maths are considered along with CGPA.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>