<div id="primary">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-center">Primary Incharge's Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/message/primary.jpeg" alt="Chairman" class="img-fluid rounded-circle">
                </div>
            </div>
            
            
            <div class="card-body">
                <p class="lead text-justify" style="color: #EC7063 ;font-weight: bold;font-family: serif;font-style: italic;">
                    “Imagination is more important than knowledge, for while knowledge defines all that we currently know and understand, imagination points to all we might yet discover and create.” - Albert Einstein
                </p>
                <br>
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">The foremost step into school is that giant step forward, where children embark on the great journey of seeing the wide world outside and the wisdom of the world within. As we grab the little finger and guide the young ones forward, we comprehend our accountability of nurturing their inquisitiveness, igniting their minds to penetrate the skies, helping them to discover the world of books and richness of experience, ponder on the “mystery of birds in the sky, fishes in the pond, the bees in the sun, the flowers on a green hill, snow on the mountains” and today master the magic of technology and the infinite span of cyber space.</p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">OEvery child is genius and unique.  We at MAAPS persuade and appreciate this uniqueness. We aim to nurture students and distinguish the importance of early years education to support children grow and progress through age appropriate experiences. we strive to offer a wide and balanced education for all the children within a joyous, stimulating and healthy environment and we want each child to achieve the best he or she can.</p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">As the Head, Primary Department, it’s a pleasure in having the opportunity to be an integral part of the educating fraternity.
                     There is no edge to nurturing the children and sculpturing them to thrive physical, social, emotional and cognitive skills.
                     This aspect has been my key emphasis as a primary head, to offer limitless opportunities for tiny tots, to discover and experiment.</p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">These indispensable elements for accomplishment are accompanied and enhanced by rich and multiple co-curricular programmes of language, sports, music, drama, educational expeditions and many other pursuits, all designed to educate the whole person. We help the children to develop their native curiosity about the world around them. Children are stimulated to cultivate their imagination and acquaintance so as to be in charge of their peculiar learning. They are inspired to traverse from known to unknown, concrete to abstract and local to global.
                </p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">I also take this opportunity to express my gratitude to the parents of our students for having conferred their conviction and assurance in us. Your faith in us is our driving force.
                </p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Tripta Sachdeva
                </p> 
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">HOD, Primary Department
                </p>    
            </div>
        </div>
    </div>
</div>