#logo-bar{
    height: 100vh;
    position: absolute;
    top: 70% !important;
    overflow: auto;
    left: 87%;
    z-index: 51;
   a{
        width: 150px;
    color: var(--purple-dark);
    position: fixed;
    border-radius: 20px;
    background: #fff;
    border: 2px solid var(--purple-dark);
   
    }
   a:hover{
        background:var(--purple-dark) ;
        color:var(--white) ;
        border: 2px solid var(--white);
    }
}

@media(max-width:600px){
    #logo-bar{
        left: 50% !important;
    }
}
