<div id="newsletter">
    <div class="container-fluid">
        <div class="card">
            <h1 class="card-title text-center">NewsLetter</h1>
            <div class="card-body">
              <h5> Session 2021-22</h5>
              <hr>
              <table class="table table-hover table-bordered w-75 mx-auto">
                <thead>
                  <tr>
                    <th scope="col" style="width: 10%;">S No.</th>
                    <th scope="col">Month</th>
                    <th scope="col" class="text-center" style="width: 20%;">Download</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>April 2021</td>
                    <td class="text-center"><a href="https://drive.google.com/file/d/1hiyulnNTGtWrtQT_im7l0oCXZSGL2zIN/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>May 2021</td>
                    <td class="text-center"><a href="https://drive.google.com/file/d/1kzOpFd8PrefdHgSEEaix3-mOW34fYVEw/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td >June 2021</td>
                    <td class="text-center"><a href="https://drive.google.com/file/d/1nQyXQ4aRtAa1gMGKktD_yzoERy8WbGEZ/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td >July 2021</td>
                    <td class="text-center"><a href="https://drive.google.com/file/d/15rh6yP5CvjlEDheip-atjhwcgbpBycQP/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                  </tr>
                </tbody>
              </table>
              <h5> Session 2020-21</h5>
              <hr>
                <table class="table table-hover table-bordered w-75 mx-auto">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 10%;">S No.</th>
                        <th scope="col">Month</th>
                        <th scope="col" class="text-center" style="width: 20%;">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>April 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1GUNSx5wOUtbpKKAcjgFkhHRHkZtTqzY2/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>May 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1do4M5wHKAuyyKfrQpJkm4id6wNGMXcY5/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td >June 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1Rig_OQY4ZCMpo4qNvAxhvyEvk4sanRS-/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>July 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1MoAhitybdMxPegq6evED5angr9qqGYXJ/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>August 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1v084sbLktWbN9FaPAUFM4vEGK4oMr9N5/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>September 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1AJidORYUyafGkMpdFcG6M0cx_nEbNe6V/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">7</th>
                        <td>October 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1YT0Q0awVeoNXb8JYkQh5TmGvTV5yQzDj/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">8</th>
                        <td>November 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1wnjxFjNG1bz6zUrr-P9woMytX5l1XGNT/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">9</th>
                        <td>December 2020</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1ZCMGK1jvDZ80BmOroYEOTVVE6Ymqxujv/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">10</th>
                        <td>January 2021</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/18zi7UyiXxMP72BsFzA0zU4gRXbME-c6g/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">11</th>
                        <td>February 2021</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1jd6tQ7W6QL8An6jGVhm5gXMvHq0SMjlc/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                      <tr>
                        <th scope="row">12</th>
                        <td>March 2021</td>
                        <td class="text-center"><a href="https://drive.google.com/file/d/1yFK9FsAawx4HuOUSKQgSRjnwS96XVDry/view?usp=sharing" target="-blank" download><i class="bi bi-download"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>