<div id="safety">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Safety & Security</h1>
            <div class="card-body">
                <p class="lead fontWeight400">Children are the most precious and the most vulnerable individuals and therefore, they need to be protected from any kind of security risk.
                    The administration and the staff of the school provide support on all matters of student safety, security and emergency management.
                </p>
                <h5>SAFETY, SECURITY & SURVEILLANCE INFRASTRUCTURE:</h5>
                <hr class="bg-dark rounded " style="width: 580px;">
                <p class="lead fontWeight400">The campus has 24 x 7 security cover, with guards stationed at the Front Gates.
                     Drills are conducted regularly .24 hours security/surveillance is taken care of through CCTV’s installed at various locations in the school campus with event recording facilities.
                      Fire sprinklers and alarms  have been placed at regular intervals and are routinely checked.
                    The school has a very well-defined security system, which is fully compliant with the present laws and guidelines.
                </p>
                <p class="lead" style="font-weight: bold;">The following Safety and Security measures are strictly adhered to in the school for the well-being of all students</p>
                <p class="lead fontWeight400">CCTV cameras are installed at multiple locations to ensure no area remains unattended at any point and to further capture movement of people in and around the school building.
                     The cameras cover all areas such as entry & exit gates, parking Area, corridors, playground, classrooms, outside washrooms etc.
                     All CCTV systems are monitored by personnel who work in four-hourly shifts 
                </p>
                <p class="lead fontWeight400">School Entry :A security check of all visitors, staff members and parents is carried out and recorded for security purpose.Entry is only permitted with a visitor’s pass or parents’ Id card. 
                    School Premises (Boundary walls) is secured with barbed wire fencing. The entry and exit points into and from the school building are constantly secured and monitored. For additional security, windows, open corridors etc have grills.
               </p>
               <p class="lead fontWeight400">Washrooms:There are separate toilets for boys & girls (students)and separate ones for visitors, teachers & staff.
                   Toilets for blue-collar employees are outside the main building.
                    Additionally, kindergarten section has their own personal female support staff to escort children to the washroom.
                   The floor in-charges and teachers check bathrooms regularly during school hours (Only female staff are allowed to inspect the toilets).</p>

                   <h5>Transport Safety</h5>
                <hr class="bg-dark rounded" style="width: 170px;">
                <p class="lead fontWeight400">A first-aid box is kept in all buses.
                </p>
                <p class="lead fontWeight400">Buses have in built GPS system.
                     They are also installed with speed governors to avoid over-speeding and to maintain the prescribed speed limit.
                    Bus teachers ensure that safety guidelines are strictly followed
                </p>
                <p class="lead fontWeight400">Daily attendance is mandatory and taken twice.
                    Support staff and teachers are present in all bus routes till the last stop.
                </p>
                <p class="lead fontWeight400">Private van drivers are not allowed inside the school premises.
                     Students going by private vans are escorted to the main gate by teachers.
                </p>
                <p class="lead fontWeight400">Teachers on duty for the dispersal ensure smooth exit of students and in case of any delays, ensure that children are in waiting in the school with a female teacher.
               </p>
                
                <h5>Other Safety Measures</h5>
                <hr class="bg-dark rounded" style="width: 220px;">
                <p class="lead fontWeight400"> Steps for Police verification and medical check-up of blue-collar employees and teaching and non-teaching staff is carried out at regular intervals.</p>
                <p class="lead fontWeight400">The school counsellor conducts regular counselling sessions with students and teachers on topics such as POSCO Act, Bullying, Non Verbal Communication, cyber safety, etc.</p>
                <p class="lead fontWeight400">School disaster management team ensures that mock drills are conducted regularly from time to time to prepare students and staff for quick, correction action at the time of any eventuality.
                     School Evacuation Plan has been put up on all floors.</p>
                <p class="lead fontWeight400">The school medical infirmary is well equipped to handle all first aid situations.
                     The School has a tie up with the nearby hospital for medical emergencies.
                </p>  
                <p class="lead fontWeight400">Suggestion boxes have been installed at the school gate, at reception and all floors to encourage open communication amongst all stakeholders.
               </p> 
               <p class="lead fontWeight400">There’s a ramp constructed for differently abled children.</p>
               <p class="lead fontWeight400">Adequate number of Fire extinguishers are installed at all important locations for any emergencies.
                    Staff is regularly trained to use the equipment and handle any exigencies.
                   Special lectures on safety awareness and fire fighting training is imparted to students and staff..
                </p> 
                <p class="lead fontWeight400">Our school ensures that all safety and security compliances are in accordance with the applicable laws, guidelines issued by DOE, rules and regulations issued by CBSE etc. </p>  
            </div>
        </div>
    </div>
</div>