<div id="subject">
    <div class="container-fluid">
        <div class="card">
            <h1 class="card-title text-center">SUBJECT OPTIONS FOR CLASS XI (2021-22)</h1>
            <div class="card-body">
                <table class="table table-hover table-bordered mx-auto">
                    <thead>
                      <tr>
                        <th scope="col" style="width: 10%;">S No.</th>
                        <th scope="col">SCIENCE</th>
                        <th scope="col">COMMERCE</th>
                        <th scope="col">HUMANITIES</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>ENGLISH</td>
                        <td>ENGLISH</td>
                        <td>ENGLISH</td>
                        </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>PHYSICS</td>
                        <td>BUSINESS STUDIES</td>
                        <td>ECONOMICS/APPLIED MATHS</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td >CHEMISTRY</td>
                        <td >ACCOUNTANCY</td>
                        <td >GEOGRAPHY</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>COMP. SC./BIOLOGY/ECONOMICS</td>
                        <td>ECONIMICS</td>
                        <td>INFORMATIC PRACTICES</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>MATHS</td>
                        <td>INFORMATIC PRACTICES/APPLIED MATHS</td>
                        <td>POLITICAL SCIENCE</td>
                      </tr>
                      <tr>
                        <th scope="row">6</th>
                        <td>PHYSICAL EDUCATION (ADDITIONAL)</td>
                        <td>PHYSICAL EDUCATION (ADDITIONAL)</td>
                        <td>PHYSICAL EDUCATION (ADDITIONAL)</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>