<div id="contact">
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center align-items-start">
            <div class="touch mt-3">
                 <h3>Get In Touch</h3>
            </div>
            <div class="row touch-detail">
                <div class="col-2">
                    <mat-icon> phone</mat-icon>
                </div>
                <div class="col-10">
                    011-27344340
                </div>
                <div class="col-2">
                    <mat-icon> phone</mat-icon>
                </div>
                <div class="col-10">
                    011-47640689
                </div>
            </div>
            <div class="row touch-detail mt-2">
                <div class="col-2">
                    <mat-icon style="font-size: 35px;"> email</mat-icon>
                </div>
                <div class="col-10">
                    maaps.pp@gmail.com,
                    maaps.reception@gmail.com
                </div>
            </div>
            <div class="follow mt-4">
                <h4>Follow Us On:</h4>
            </div>
            <div class="row follow-detail">
                <!-- <div class="col-3">
                    <a href="#"><i class="bi bi-instagram"></i></a>
                </div> -->
                <div class="col-4">
                    <a href="https://www.facebook.com/maaps.pp/" target="_blank"> <i class="bi bi-facebook"></i></a>
                   
                </div>
                <div class="col-4">
                    <a href="https://www.youtube.com/results?search_query=maharaja+agarsain+adarsh+public+school+" target="_blank"> <i class="bi bi-youtube"></i></a>
                   
                </div>
            </div>
        </div>
    </div>
</div>