<div id="timing">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">School/Office Timings
            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify" style="color:var(--orange);font-size: 20px;">School timings 8 a.m to 2 p.m</p>
                <p class="lead fontWeight400 text-justify" style="color:var(--orange);font-size: 20px;">School office timings 9 a.m to 12.30 p.m</p>
            </div>
        </div>
    </div>
</div>