<div id="intro">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">About Us</h1>
            <div class="card-body">
                <p class="lead text-justify fontWeight400">Maharaja Aggarsain Adarsh Public School was established as a recognized school in the year 1988. Our school saw the light of the day because of the hardwork and initiative taken by our dynamic visionaries of the Shri Aggarwal Dharamashala Trust.</p>
    
                <p class="lead text-justify fontWeight400">Shri Aggarwal Dharamshala Trust(Regd.), Hardhian Singh Road, Karol Bagh was established in the year 1957. 
                    The vision of the trust laid the foundation of our school to impart quality education to the children of the vicinity of Karol Bagh area in Delhi.
                     What started off as a small enterprise has gone on to become one of the leading institutions of the capital which later on shifted to the new building in DU Block,Pitampura in the year 2000.
                      From then we have been striving hard to provide quality education to the children in Pitampura.
                </p>
               <p class="lead text-justify fontWeight400">With the passage of time, education has undergone a sea change and we at MAAPS try to incorporate all the latest technological developments that are taking place in the realm of education.
                    We constantly believe that the school is the second home of a child and it is our endeavour to provide every child a conducive environment, not only to hone her talents but to emerge as strong individuals to take on the challenges that her future life offers.
            </p>
               <h5>Contact us</h5>
                <hr class="bg-dark" style="width: 120px;">
                <p class="lead text-justify fontWeight400"> Block DU, Uttari Pitampura
                    Pitampura, Delhi, 110088</p>
                <p class="lead text-justify fontWeight400 less">E-mail: maaps.pp@gmail.com, maaps.reception@gmail.com</p>
                <p class="lead text-justify fontWeight400 less">facebook:https://www.facebook.com/maaps.pp/</p>
                <p class="lead text-justify fontWeight400 less">Ph No. 011 2734 4340</p>  
                    
            </div>
        </div>
    </div>
</div>