<div id="cMessage">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <div class="row">
                <div class="col-lg-6 col-md-6" style="margin-top: 140px;" id="head">
                    <h1 class="card-title text-center">Chairman's Message</h1>
                </div>
                <div class="col-lg-6 col-md-6">
                    <img src="/assets/img/message/chairman.jpeg" alt="Chairman" class="img-fluid rounded-circle">
                </div>
            </div>
            
            
            <div class="card-body">
                <p class="lead text-justify" style="color: #EC7063 ;font-weight: bold;font-family: serif;font-style: italic;">
                    “WHEN EDUCATING THE MINDS OF OUR YOUTH, WE MUST NOT FORGET TO EDUCATE THEIR HEARTS”
                </p>
                <!-- <p class="lead text-justify" style="float: right;color: #F1C40F;font-weight: bold;font-style: italic;">(DALAI LAMA)</p> -->
                <br>
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">It is a matter of pride for me to pen down a message for the school website. My heart fills with immense pleasure as I observe the progress being made at Maharaja AggarsainAdarsh Public School.
                     Hardwork, will power and determination are the  traits  that strengthens  MAAPSIANS with unlimited initiative and incentive to create their pathway to success.</p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">Our school is committed to offer the very best in every aspect to students to give them sound footing in a competitive world.Today the quality of education is continuously scaling new heights and new bench marks are constantly set.
                      Education being a very competitive sector, excellence is the only thing that rules supreme here and we are committed to the same.</p>
                      <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">We believe in the principle that education aims at the overall development of a child’s personality, body, soul and spirit.
                         In the age when morality and ethics are on the decline , we believe in instilling these age old virtues in our students to make them not only academically sound but morally upright to help them face all the challenges in life.
                         We do exhort our pupils to drive themselves towards their best performance, but remind them always that achievement must be framed by procedural limits and ethical boundaries.</p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">Lastly, I would like to convey my thanks and best wishes to our parents, who have been there with the school through thick and thin and have stood as pillars of support in all our endeavours.
                </p>
                <p class="lead text-justify" style="font-size: 18px;font-weight: 400 !important;">My best wishes to my dedicated staff and students who have worked tirelessly to help the school in scaling new heights of success. 

                </p>
                
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Mr. Satya Narain Mittal
                </p> 
                <p class="lead text-justify" style="font-size: 18px;font-weight: bold !important;">Chairman
                </p>    
            </div>
        </div>
    </div>
</div>