<div id="vision">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">VISION</h1>
            <div class="card-body">
                <p class="lead text-justify fontWeight400">MAAPS’ vision is to prepare every child to be a global leader who has universal values, global understanding, excellence in all spheres and a zeal for service to humanity through holistic education.
                </p>
               
            </div>
            <h1 class="card-title ">MISSION</h1>
            <div class="card-body">
                <p class="lead text-justify fontWeight400">MAAPS’ mission is to inspire every child to be physically strong, emotionally stable, mentally alert, ethically upright, spiritually efficient, vocationally self-sufficient, culturally refined, politically awake, religiously liberal, technologically advanced and a team player with the essence of leadership.</p>
            </div>
            
        </div>
    </div>
</div>