<div id="fees">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Fees Structure (2021-22)
            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify" style="color:var(--orange);font-size: 20px;">Quaterly Fee</p>
                <div class="rank">
                    <table class="table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th scope="col" sticky >Particular</th>
                            <th scope="col">PS</th>
                            <th scope="col">PP-V</th>
                            <th scope="col">VI-VIII</th>
                            <th scope="col">IX-XII (Non Science)</th>
                            <th scope="col">XI-XII (Science)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Annual Fee</th>
                            <td>2325</td>
                            <td>2325</td>
                            <td>2600</td>
                            <td>2600</td>
                            <td>2600</td>
                          </tr>
                          <tr>
                            <th scope="row">Tuition Fee</th>
                            <td>9000</td>
                            <td>8220</td>
                            <td>9120</td>
                            <td>10290</td>
                            <td>10290</td>
                          </tr>
                          <tr>
                            <th scope="row">Tal Fee</th>
                            <td >1800</td>
                            <td>1800</td>
                            <td>1200</td>
                            <td>1200</td>
                            <td>1200</td>
                          </tr>
                          <tr>
                            <th scope="row">Development Fee</th>
                            <td >1020</td>
                            <td>930</td>
                            <td>1020</td>
                            <td>1125</td>
                            <td>1125</td>
                          </tr>
                          <tr>
                            <th scope="row">Science Fee</th>
                            <td >0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>600</td>
                          </tr>
                          <tr>
                            <th scope="row">Total</th>
                            <th >14145</th>
                            <th>13275</th>
                            <th>13940</th>
                            <th>15215</th>
                            <th>15815</th>
                          </tr>
                        </tbody>
                      </table>
                </div>
               
                <p class="lead fontWeight400 text-justify" style="color:var(--orange);font-size: 20px;">Annually</p>
                <div class="rank">
                    <table class="table table-hover table-bordered">
                        <tbody>
                          <tr>
                            <th scope="row">Magazine Fee</th>
                            <td>250</td>
                            <td>250</td>
                            <td>250</td>
                            <td>250</td>
                            <td>250</td>
                          </tr>
                        </tbody>
                      </table>
                </div>

                <p class="lead fontWeight400 text-justify" style="color:var(--orange);font-size: 20px;">New Admission</p>
                <p class="lead text-justify font-weight-bold">One Time Fee</p>
                <div class="rank">
                    <table class="table table-hover table-bordered">
                        <tbody>
                          <tr>
                            <th scope="row">Admission Fee</th>
                            <td>200</td>
                            <td>200</td>
                            <td>200</td>
                            <td>200</td>
                            <td>200</td>
                          </tr>
                          <tr>
                            <th scope="row">Caution Money (Refundable)</th>
                            <td>500</td>
                            <td>500</td>
                            <td>500</td>
                            <td>500</td>
                            <td>500</td>
                          </tr>
                          <tr>
                            <th scope="row">Total</th>
                            <th>700</th>
                            <th>700</th>
                            <th>700</th>
                            <th>700</th>
                            <th>700</th>
                          </tr>
                        </tbody>
                      </table>
                </div>
               
            </div>
        </div>
    </div>
</div>