<div id="social">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Social Science Laboratory
            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify">The motto of our Social Science Laboratory is, ‘learning by doing’.
                      Our lab acts as an activity room for student-teachers as it combines academic experience with worldly knowledge, making learning effective, lively and fun.
                </p>
                <p class="lead fontWeight400 text-justify">We understand that the things that lie within the realm of books and literature don’t really reflect well on the young minds unless coupled with practical application.
                     In order to build  understanding of various cultures, socio-economic and political issues,  the ideology prevailing during such times, thus, can best be assessed, beyond the monologues in the class room settings, via hands on activities during the practical class.
                     The teachers of Social Science at MAAPS encourage students to venture across various geographies, communities and social political units in an interesting, invigorating manner.                </p>
                <p class="lead fontWeight400 text-justify">The social science laboratory in MAAPS provides opportunities to students to engage in interviews, run analysis and simulations of a given situation for better understanding.
                      Our students hold exhibitions, various activities like poster making, clay modeling, slogan writings, enactments and role plays, workshops on socio-political and economic issues through smart class from time to time.
                       The Maapsians learn to engage with the depths of the subject, and appreciate the various processes of thinking and decision making related to the subject.
                </p>
                <div class="row text-center pb-5">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/social/1.jpeg" alt="Social" class="img-fluid w-75  rounded">
                        <p class="lead text-justify p-2">Exhibition of Indian Historical Monuments made in clay prepared by students of Class VII 
                            in Social Science Laboratory. 
                            </p>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/social/4.jpeg" alt="Social" class="img-fluid w-75 
                         rounded">
                        <p class="lead text-justify p-2">Demonstration of Tribal Art Work by the students of Class VIII in Social Science 
                            Laboratory. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>