<div id="sports">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Sports & Games</h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify">Sports play a pivotal role in shaping one’s personality and maintaining good health.
                    MAAPS has specially developed a sports environment that  gives a truly global experience to all our students.In addition to the development of sports skills it imparts among students, important lessons of team spirit, time management, competitive spirit & provides the right platform to channelize their energy. All of which is provided to them in the school.
                    There are multiple sport facilities to keep our students engaged and physically fit.
                    </p>
                <h5>Basketball                </h5>
                <hr class="bg-dark rounded " style="width: 110px;">
                <p class="lead fontWeight400 text-justify">Being one of the most popular sports , basketball is played by a large number of students .
                     We have a dedicated basketball coach and a well equipped sports department to help the budding players in every way they can.
                </p>
                <h5>Football                </h5>
                <hr class="bg-dark rounded" style="width: 100px;">
                <p class="lead fontWeight400 text-justify">The school has a football ground with lush green grass for the most widely played and followed sport in the world. An experienced football coach trains the team with all the required equipment.
                </p>
                
                <h5>Cricket</h5>
                <hr class="bg-dark rounded" style="width: 90px;">
                <p class="lead fontWeight400 text-justify"> A religion than a sport to most people in India and for the students of Maharaja Aggarsain Adarsh Public School is no different. The infrastructure related to the game includes a cricket ground with natural turf pitches. The league matches are encouraged.
                </p>

                <h5>Table Tennis                </h5>
                <hr class="bg-dark rounded" style="width: 130px;">
                <p class="lead fontWeight400 text-justify"> Being one of the most popular sports in schools, table tennis is played by a large number of our students.
                     We have a steadfast table tennis coach and a well equipped sports department to help the budding players in every way they can.
                </p>
                <h5>Skating</h5>
                <hr class="bg-dark rounded" style="width: 90px;">
                <p class="lead fontWeight400 text-justify"> The school has a specialized arena where students master the fun filled sport under the guidance of our experienced sports teacher. The courtyard is equipped with spot bars to ensure safety.
                </p>

                <h5>Badminton                </h5>
                <hr class="bg-dark rounded" style="width: 110px;">
                <p class="lead fontWeight400 text-justify"> Our badminton facility has a standard size court where modern coaching techniques are used to bring out the best in the students.
                </p>
                <p class="lead font-weight-bold text-justify">Every student is encouraged to take an active part in at least one outdoor activity. The School has set up facilities/ground for indoor activities like Chess, Yoga, Table Tennis etc. Our students  are also participating in  sports tournaments to develop a spirit of healthy competition. They have excelled in the District Level, Zonal Level and State Level competitions and qualified for National Level competitions.</p>
                <p class="lead font-weight-bold text-justify"> Our sports team comprises of highly qualified and experienced professionals. The students are tutored and mentored by these committed coaches, who use their knowledge and expertise to help young talents realize their potential. We offer a rigorous and challenging sports program with the best- in- sports training and facilities in a nurturing environment for young people.

                </p>
                <div class="row text-center pb-5">
                    <div class="col-sm-12 mb-3 col-md-6">
                        <img src="/assets/img/sports/1.JPG" alt="Sports" class="img-fluid rounded w-75 h-100">
                    </div>
                    <div class="col-sm-12 mb-3 col-md-6">
                        <img src="/assets/img/sports/2.JPG" alt="Sports" class="img-fluid rounded w-75 h-100">
                    </div>
                    <div class="col-sm-12 mb-3 col-md-6">
                        <img src="/assets/img/sports/3.jpg" alt="Sports" class="img-fluid rounded w-75 h-100">
                    </div>
                    <div class="col-sm-12 mb-3 col-md-6">
                        <img src="/assets/img/sports/4.jpg" alt="Sports" class="img-fluid rounded w-75 h-100">
                    </div>
                    <div class="col-sm-12 mb-3">
                        <img src="/assets/img/sports/5.JPG" alt="Sports" class="img-fluid rounded w-50 h-100">
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>