<div id="math">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">MATHEMATICS LABORATORY
            </h1>
            
            
            <div class="card-body">
                <p class="lead" style="color: #EC7063 ;font-weight: bold;font-family: serif;font-style: italic;">
                    "Mathematics is the most beautiful and most powerful creation of human civilization."
                </p>
                 <br>
                <p class="lead" style="font-size: 18px;font-weight: 400 !important;">Mathematics has been regarded as a fundamental subject influenced by arithmetic and logical reasoning making it as the principle of science and technology.</p>

                <p class="lead" style="font-size: 18px;font-weight: 400 !important;">To make our students Mathematics confident, we have created support programs designed to craft students to proficiency in the subject</p>

                <p class="lead" style="font-size: 18px;font-weight: 400 !important;">Math lab is amilieu in our school where we provide opportunities to our students to discover Mathematics through doing & experimentation.
                     While doing fun activities in lab the students forget their stress which eliminate their poor performance induced by the “subject” anxiety.
                      By Mathematical activities students experience both practical and important Mathematical skills that motivate them to think in new dimension of the subject.
                     Regular exposure to lab make our students comfortable & confident in Math.
                </p>
                <h5>Demonstrating the Statistical Concepts using 3D model</h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/9.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/11.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>
                
                <h5>Introduction of 3D figures and its application in Real Life
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/13.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/12.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>

                <h5>Verification of properties of quadrilaterals
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/14.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/15.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>

                <h5>Verification of properties of quadrilaterals
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-12">
                        <img src="/assets/img/lab/math/16.jpeg" alt="math" class="img-fluid w-50  rounded">
                    </div>
                </div>

                <h5>Attractive Rangoli patterns using Geometrical shapes
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-12">
                        <img src="/assets/img/lab/math/17.jpeg" alt="math" class="img-fluid w-50  rounded">
                    </div>
                </div>

                <h5>Exposition on student’s Mathematical Creations
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/1.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/2.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/3.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/4.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>

                <h5>Mathematical Skit by Maapsians
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/5.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/6.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>
                <h5>Fancy dress exhibiting Mathematics
                </h5>
                <div class="row text-center mb-3">
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/7.jpeg" alt="math" class="img-fluid w-75  rounded">
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <img src="/assets/img/lab/math/8.jpeg" alt="math" class="img-fluid w-75  rounded">     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>