<div id="computer">
    <div class="container" style="max-width: 100%;width: 100%;">
        <div class="card shadow-lg colorBlue">
            <h1 class="card-title ">Computer Science Lab
            </h1>
            <div class="card-body">
                <p class="lead fontWeight400 text-justify">MAAPS is a progressive institution with two well equipped air conditioned computer laboratories housing latest computers, audio-visual facilities, projectors etc to help students delve into the world of computers.   School premises is wifi-enabled that provides open avenues for an unlimited scope for learning.</p>
                <p class="lead fontWeight400 text-justify">In order to train the young minds with appropriate foundation in computing and latest technological skills, we introduce the subject from grade 1 onwards. To impart ICT in children and make them aware of the latest technologies, different software are introduced. Children are also trained on various photo editing and animation softwares to enhance their creativity.  
                </p>
                <p class="lead fontWeight400 text-justify">With the objective to provide platform for the students to showcase their talent with competitive spirit and to integrate themselves with the real world application different techno competitions, activities and annual techno week program-“cyber week” are conducted at various levels. This enhances the creativity, imagination, innovation, problem solving skills and team spirit amongst the students along with sharpening their programming skills.</p>
                <p class="lead fontWeight400 text-justify">We as a team are looking forward with continued commitment to the highest level of excellence in both teaching and training children in getting acquainted to new technological skills. 
                </p>
                <p class="lead font-weight-bold text-justify" style="color: var(--orange);"><i>“We need technology in every classroom and in every student and teacher’s hand, because it is the pen and paper of our time, and it is the lens through which we experience much of our world”- David Warlick
                </i></p>
                
                <div class="row text-center pb-5">
                    <div class="col-sm-12 col-md-6 mb-3">
                        <img src="/assets/img/lab/computer/1.jpeg" alt="computer" class="img-fluid w-75 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <img src="/assets/img/lab/computer/2.jpeg" alt="computer" class="img-fluid w-75 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <img src="/assets/img/lab/computer/3.jpeg" alt="computer" class="img-fluid w-75 rounded">
                    </div>
                    <div class="col-sm-12 col-md-6 mb-3">
                        <img src="/assets/img/lab/computer/4.jpeg" alt="computer" class="img-fluid w-75 rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>